@import url(./shared/globleStyle.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    /* color: #fff; */
    padding: 0px;
    margin: 0px;
}

.screen-container {
    width: 95vw;
    height: 100vh;
    color: #fff;
    background: #000000;
    border-radius: 30px;
}